/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #0C365A;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  --primary-color: #01d167;
  --secondary-color: #ddd;
  --theme-color: #0C365A;
  --active-color: #23cefd;
  --background-theme-color: #FAFCFF;
  --disabled-color: #5e5e5e;

  --swiper-theme-color: #01d167 !important;
}

body {
  min-height: 100vh;
  color: var(--vt-c-text-light-1);
  background: var(--theme-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Open-Sans !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 600px) {
  body {
    background: #fff;
    color: black;
  }
}

.text-white {
  color: var(--vt-c-white);
}

.text-black {
  color: var(--vt-c-black-soft)
}
